{% from "atoms/button.html" import dropdown_toggle %}

{% macro command_dropdown() %}
<div class="dropdown">
    {{ dropdown_toggle("Commands") }}
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" onclick="insertCommand('ask')">Ask AI</a></li>
        <li><a class="dropdown-item" href="#" onclick="insertCommand('let')">Declare Variable</a></li>
        <li><a class="dropdown-item" href="#" onclick="insertCommand('if')">If Statement</a></li>
        <li><a class="dropdown-item" href="#" onclick="insertCommand('try')">Try-Catch</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#" onclick="insertCommand('ls')">List Directory</a></li>
        <li><a class="dropdown-item" href="#" onclick="insertCommand('mkdir')">Create Directory</a></li>
        <li><a class="dropdown-item" href="#" onclick="insertCommand('rmdir')">Remove Directory</a></li>
    </ul>
</div>
{% endmacro %}
